body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #FAFAFA;
  color: #555970;
}
h1 {
  font-size: 20px;
  letter-spacing: 1px;
  color: #7474bf;
}
h2 {
  font-weight: lighter;
  margin-top: 55px;
}
h3 {
  font-weight: lighter;
  font-size: 30px;
}
h4 {
  font-weight: lighter;
  font-size: 14px;
}
input.big-field {
  width: 380px;
  height: 38px;
  border-radius: 30px;
  border: none;
  margin-top: 30px;
  margin-bottom: 30px;
  /* Rectangle 4: */
  background: #FFFFFF;
  box-shadow: 0 13px 40px 0 rgba(161,175,226,0.50);
  outline: none;
  padding: 0 25px;
  font-size: 16px
}
input.big-button {
  color: white;
  width: 170px;
  height: 38px;
  border-radius: 30px;
  border: none;
  margin-top: 0;
  margin-bottom: 30px;
  /* Rectangle 4: */
  box-shadow: 0 13px 40px 0 rgba(161,175,226,0.50);
  outline: none;
  font-size: 16px;
  background: #7474BF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #348AC7, #7474BF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #348AC7, #7474BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  cursor: pointer;
}
.width-control {
  max-width: 1000px;
  margin: 0 auto;
}
.logo {
  margin-top: 40px;
}
.tagline {
  text-align: center;
}
.long-url {
  text-decoration: none;
  color: #555970;
}
.short-url {
  cursor: crosshair;
}
.domain {
  max-width: 300px;
  margin: 0 auto;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  /*background-color: #ECF0F8;*/
  text-align: center;
  font-size: 12px;
}
